/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main h1 {
  text-align: center;
  padding: 0.625rem;
}

.row {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
}

aside {
  flex: 30%;
  padding: 20px;
  background-color: #aaabac;
  order: 2;
}
aside img {
  width: 100%;
  object-fit: contain;
  padding-left: 10px;
}
aside h2 {
  font-size: 22px;
  padding: 10px;
}
aside section {
  padding-bottom: 25px;
}
aside h3 {
  font-size: 19px;
  padding: 10px;
}
aside p {
  font-size: 15px;
  padding-left: 10px;
}

.sub-estrella {
  text-align: center;
  text-decoration: underline;
  padding-top: 50px;
}

.img-div-container {
  display: flex;
}

.vendidos {
  flex: 70%;
  padding: 20px;
  background-color: #fbfdff;
  order: 1;
}
.vendidos img {
  display: flex;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.estrella {
  width: 100%;
  height: 400px;
  padding: 5px;
}

.info-estrella-1,
.info-estrella-2 {
  background-color: rgba(0, 0, 0, 0.116);
  padding: 10px;
  border-radius: 10px;
}

.testimonios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 15px;
  text-align: center;
  background-color: rgba(43, 163, 43, 0.534);
}

.usuarios-test img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.header-index {
  top: 0;
  /* background-color: #171a21; */
  color: #fff;
  padding: 50px;
  text-align: center;
  background-image: url("../assets/humo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  font-size: 40px;
  margin: 0 0 20px;
}
header p {
  margin: 0 0 10px;
}
header img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
header div {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
}

.texto-chico {
  display: block;
}

.titulo-tienda {
  padding: 20px;
  text-align: center;
  text-decoration: underline;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.container-products img {
  max-width: 100%;
}

.section-nosotros {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "quienes-somos quienes-somos quienes-somos" "vapeando1 quienes-somos-info vapeando2";
  gap: 10px;
  padding: 15px;
}

.quienes-somos img {
  height: 100px;
  object-fit: contain;
}

.section-nosotros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quienes-somos {
  grid-area: quienes-somos;
  height: 100px;
  object-fit: contain;
}

.vapeando1 {
  grid-area: vapeando1;
}

.vapeando1 img {
  object-fit: contain;
}

.quienes-somos-info {
  grid-area: quienes-somos-info;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  text-decoration: solid;
}

.vapeando2 {
  grid-area: vapeando2;
}

.section-suc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.section-suc h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.section-suc p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 600px;
  line-height: 1.6;
}

.section-suc iframe {
  max-width: 100%;
  border: none;
}

.navbar-jm {
  display: flex;
  justify-content: center;
  background-color: gray;
}
.navbar-jm ul {
  list-style-type: none;
  padding: 14px 20px;
  margin: 0;
}
.navbar-jm li {
  display: inline;
}
.navbar-jm a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}
.navbar-jm a:hover {
  background-color: rgba(15, 15, 15, 0.514);
}

.product {
  border-radius: 10px;
}

.product:hover {
  box-shadow: 0 10px 20px rgba(105, 104, 104, 0.2);
}

.product img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s;
}

.product figure {
  overflow: hidden;
}

.product:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.precio {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: aqua;
  color: black;
  padding: 15px 10px;
  cursor: pointer;
}

.info-product button:hover {
  background-color: teal;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #171a21;
  padding: 20px;
  color: #fff;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .social-icons {
  display: flex;
}
footer .footer-container .social-icons a {
  margin-right: 10px;
}
footer .footer-container .social-icons img {
  width: 30px;
  height: 30px;
}

@media (max-width: 1440px) {
  .texto-chico {
    display: none;
  }
}
@media (max-width: 1024px) {
  aside {
    flex: 100%;
    justify-content: center;
    text-align: center;
  }
  aside p {
    padding: 10px;
  }
  aside img {
    width: 100%;
    height: 300px;
  }
  .vendidos img {
    max-width: 100%;
  }
  .testimonios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 15px;
    text-align: center;
    background-color: rgba(43, 163, 43, 0.534);
  }
  .section-nosotros {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "quienes-somos quienes-somos quienes-somos" "vapeando1 quienes-somos-info vapeando2";
    gap: 10px;
    padding: 15px;
  }
  .container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
  }
}
@media (max-width: 760px) {
  .texto-chico {
    display: block;
  }
  .texto-grande {
    display: none;
  }
  .testimonios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgba(43, 163, 43, 0.534);
  }
  .navbar-jm {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navbar-jm ul {
    padding: 0;
  }
  .navbar-jm li {
    display: block;
    margin-bottom: 0px;
  }
  .navbar-jm a {
    display: block;
  }
  .navbar-jm a:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  aside {
    flex: 100%;
  }
  .vendidos {
    flex: 100%;
  }
  .section-nosotros {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "quienes-somos quienes-somos" "vapeando1 vapeando1" "quienes-somos-info quienes-somos-info" "vapeando2 vapeando2";
    gap: 10px;
    padding: 15px;
  }
  .container-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    text-align: center;
  }
  .info-estrella-1 {
    padding: 15px;
    gap: 10px;
  }
  .info-estrella-2 {
    padding: 15px;
    gap: 10px;
  }
}
@media (max-width: 550px) {
  header p {
    display: none;
  }
}
@media (max-width: 425px) {
  header h1 {
    font-size: 30px;
  }
  .vendidos img {
    max-width: 100%;
  }
  aside {
    flex: 100%;
  }
  .testimonios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 15px;
    text-align: center;
    background-color: rgba(43, 163, 43, 0.534);
  }
  .section-nosotros {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "quienes-somos" "vapeando1" "quienes-somos-info" "vapeando2";
    gap: 10px;
    padding: 15px;
  }
  .quienes-somos-info {
    font-size: 15px;
  }
  .container-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
