$background-color: grey;
$footer-color: #fff;
$icon-size: 25px;
$icon-margin-right: 10px;
$padding: 20px;
$footer-height: 50px; 

body {
    margin-bottom: $footer-height; 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $background-color;
    padding: 0; 
    color: $footer-color;
    text-align: center;
    height: $footer-height; 
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: $padding; 

        .social-icons {
            display: flex;
            a {
                margin-right: $icon-margin-right;
            }
            img {
                width: $icon-size;
                height: $icon-size;
            }
        }
    }
}
